
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 10fr 2fr;
    grid-template-areas: 
    'header header'  
    'sidebar content' 
    'footer footer' 
    ; */


    grid-template: 
    'header header' 3fr  
    'sidebar content' 10fr
    'footer footer' 2fr
    /1fr 4fr;

}

.header-item{
    background-color: greenyellow;
    grid-area: header;
}

.content-item{
    background-color: orange;
    grid-area: content;
}

.footer-item{
    background-color: black;
    color: white;
    grid-area: footer;
}
.sidebar-item {
    background-color: blue;
    color: white;
    grid-area: sidebar;
}

 /* attibute selecter */
a[target="_blank"] {
    background-color: bisque;
    color: aqua;
}

.customer {
    display: inline-block;
    margin: 1em 0;
}

input[type="email"] , [type="text"] {
    width: 80%;
    margin: 5px;
}

input[type="submit"] {
    color: #ffff;
    background-color: #000000;
    border-radius: 10px;
}

li {
    padding: 0.25rem;
    margin: 00.25rem;
    list-style: none;
    font-size: 150%;
}
    
li:nth-child(2n+1) {
    background-color: #ffa500;
}

.is-required::after {
    content: "*";
    color: #ff0000;
    padding-left: 2px;
}