
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 10fr 2fr;
    grid-template-areas: 
    'header header'  
    'sidebar content' 
    'footer footer' 
    ; */


    grid-template: 
    'header header' 3fr  
    'sidebar content' 10fr
    'footer footer' 2fr
    /1fr 4fr;

}

.header-item{
    background-color: greenyellow;
    grid-area: header;
}

.content-item{
    background-color: orange;
    grid-area: content;
}

.footer-item{
    background-color: black;
    color: white;
    grid-area: footer;
}
.sidebar-item{
    background-color: blue;
    color: white;
    grid-area: sidebar;
}