/* unit relative
body{
    font-size: 10px;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    /* background-image: url('image/720p.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
    background: fixed center url("image/720p.jpg") ;
    background-size: cover;
}
div{
    margin: 10px;

}
.message{

    color: blueviolet;
    border: 1px solid black;
    padding: 5px;

}
.b1{
    background-color: rgb(252, 0, 0);
    width: 100px;
    height: 100px;
    border-style: double;
}
.b2{
    background-color: lawngreen;
    width: 100px;
    height: 100px;
    border-style: solid;
    
}
.b3{
    background-color: rgb(251, 255, 17);
    width: 100px;
    height: 100px;
    border-style: dotted;
    
}
.b4{
    background-color: rgb(4, 0, 252);
    width: 100px;
    height: 100px;
    border-style: dashed;
    
}
*{
    font-family: 'Itim', cursive;
    /* background-color: #ffdd00; */
}
#message{
    color:rgb(173, 5, 33);
    font-style: italic;
    font-weight: normal;
}
.title{
    color: rgb(7, 227, 7);
    font-size: large;
}
h1{
    font-size: 50px;
    color: rgb(198, 7, 227);
    text-align: center;
}
h2{
    color: rgb(7, 248, 232);
    font-size: 20px;
    font-style: oblique 20deg;
}
img{
    width: 50%;
    max-width: 500px;
    min-width: 50px;
    margin: 5px;
    

}
