body{
    font-size: 10px;
}
div{
    font-size: 1.5em;
}
p#message{
    color: rgb(255, 153, 0);
    font-style: italic;
}
h1.title{
    color: pink;
    font-size: 100%;

}
p{
    font-weight: bolder;
}
h1{
    font-size: 50px;
    color: rgb(198, 7, 227);

}
